.bigIdea1 {
	font-size: 150%;
}

.bigIdea2 {
	font-size: 200%;
}

.bigIdea3 {
	font-size: 250%;
}

.bigIdea4 {
	font-size: 300%;
}

.bigIdea5 {
	font-size: 350%;
}

.bigIdea6 {
	font-size: 400%;
}

ul {
	color: blue;
}